.bg-image img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.up-button {
  display: flex;
  place-content: center;
}
.up-button img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  justify-content: left;
}
.up-button label {
  padding-left: 10px;
  padding-right: 10px;
}
.continue-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #76453b;
  color: white;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: auto;
}

input[type="file"] {
  display: none;
}
label {
  display: inline;
  text-transform: uppercase;
  color: #76453b;
  background: #ffffff;
  text-align: center;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 50px;
}

.Article {
  padding-top: 100px;
  padding-bottom: 100px;
}

.my-button {
  background-color: #76453b;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}
h1 .motif {
  color: #76453b;
}
.Community {
  background-color: #ebe0d8;
}

.testimoni {
  padding-top: 100px;
  padding-bottom: 100px;
}

.round-image {
  border-radius: 50%;
}

.subcribe {
  background-color: #76453b;
  color: #ffffff;
  margin: 100px;
  border-radius: 30px;
  padding: 20px;
}

.input-container {
  display: flex;
  justify-self: center;
  border-radius: 30px;
  background-color: #ffffff;
}
.input-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 30px 0 0 30px;
  outline: none;
  width: 350px;
}

.send-button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #76453b;
  color: #ffffff;
  border-radius: 62px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

footer {
  align-items: center;
}
