.bg-image img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.up-button {
  display: flex;
  place-content: center;
}

input[type="file"] {
  display: none;
}
label {
  display: inline;
  text-transform: uppercase;
  color: white;
  background: #76453b;
  text-align: center;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 50px;
}

.Article {
  padding-top: 100px;
  padding-bottom: 100px;
}

.my-button {
  background-color: #76453b;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}
h1 .motif {
  color: #76453b;
}
.Community {
  background-color: #ebe0d8;
}

.testimoni {
  padding-top: 100px;
  padding-bottom: 100px;
}

.round-image {
  border-radius: 50%;
}

.subcribe {
  background-color: #76453b;
  color: #ffffff;
  margin: 100px;
  border-radius: 30px;
}
.wrapper {
  width: 400px;
  max-width: 100%;
  position: relative;
}

.wrapper input {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
  position: relative;
}
.wrapper button {
  background-color: #76453b;
  border-radius: 50%;
  height: 50px;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-20%);
}
footer {
  align-items: center;
}
