{% extends 'layout/layout.html' %}

{% block content %}
<style>
    .card-img-top {
        min-width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        height: 200px;
        flex-direction: column;
    }

    .my-button {
        margin-top: auto;
        align-self: flex-start;
    }
</style>
<div class="container ">
    <div class="row">
        {% for batik in data %}
        <div class="col-md-3 mt-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="../static/img/imgBatik/{{ batik.gambar_batik }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ batik.nama_batik }}</h5>
                    <p class="card-text">{{ batik.makna_batik|truncate(70, True) }}</p>
                    <a href="/article/{{ batik.nama_batik }}" class="my-button">Baca artikel</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}